
form {
  text-align: center;
}

li a {
  margin: 10px;
}

#brand {
  font-family: 'Metal Mania', cursive;
  animation: kaoteek 1.5s ease-in-out infinite;
  transform: scale(1.03);
}

@keyframes kaoteek {
 from {transform: scale(1.03);}
 to {transform: scale(1);}
}
