<div class="glossary">
<a id="go-to-top" href="#page-top"></a>
      <br>
      <a name="page-top"></a>

      <markdown ngPreserveWhitespaces>

        ### Chaos Dream RPG

        * * *
        #### Glossary
      </markdown>
        <br>
        <div id="quicklinks">
          <ul>
            <li>
              <a href="#common-terms">Common Terms and Actions</a>
            </li>
            <li>
              <a href="#social">Social Interactions</a>
            </li>
            <li>
              <a href="#special-actions">Special Actions and Class Oriented Actions</a>
            </li>
            <li>
              <a href="#dealing-damage">Dealing Damage</a>
            </li>
            <li>
              <a href="#taking-damage">Taking Damage</a>
            </li>
            <li>
              <a href="#surviving">Surviving</a>
            </li>
            <li>
              <a href="#grappling-moving">Grappling and Moving</a>
            </li>
            <li>
              <a href="#vehicular">Vehicular use</a>

            </li>
            <li>
             <a href="#breaking-the-law">Breaking the law</a>
            </li>
          </ul>
        </div>
        <br>
      <markdown ngPreserveWhitespaces id="#glossary-body">

        * * *

        #### <a class="anchor" name="common-terms"></a>Common Terms and Actions

        * * *

        “D” - When rolling dice often the terms are shortened for ease. D, being short for dice is followed by a number which designates the kind of Di being rolled, such as D6 (A six sided Di.)
        At times you will be told to roll multiple Dice at once. For this, the value is shown as a number followed by an ‘X’ such as 2xD6. (Meaning roll 2 D6 Dice)

        Rolling Stats- When asked to roll a particular ‘Core stat’ such as STR, DEX, WIL, etc. There are terms that will explain what to roll. The following are the most common terms regarding this.

        True Base *Stat* -  The True Base stat is equal to exactly your value on your character sheet.

        Base *Stat* - The Base stat is equal to your value on your character sheet along with whatever bonuses that apply without any dice rolled.

        Partial *Stat* - A Partial stat roll is equal to your Base Stat plus the value of a D6.

        Full *Stat* - A Full stat roll is equal to your Base Stat valued as a number of D6 Dice. Example: STR 3 Full Value would be 3xD6.

        Initiative- To decide whose turn is first in rotation and the sequence there after go by base SPD and break ties with 1D6. Once combat is initiated by an action, initiative is immediately taken from all those “in combat” to decide turn placements for that battle. The first turn takes place after the initiation of combat even if it interrupts other phases of the attacker.

        Flow of play- Each player Turn has three phases. (Movement, Action, Item) These phases can be taken in any order. The action phase can be stalled to be temporarily relocated after a targets turn for a single “turn rotation”. A turn rotation is when all the applicable characters and beings have had their turn.

        Out of Phase activity- These are activities that can happen outside of the players turn when appropriate, such as talking. (When you are in the conversation that is going on.) Other examples are: Using an “Instant” ability, item, trait, or skill. Using provoke, flair, and other social interactions other than Threaten. Also applicable in certain situations is “Dive” and “Trip”

        Edge- Edge is applied when certain advantages apply to you. Edge is simply adding the value of a D12 Di to whatever total you are rolling currently or as stated.

        Edge Factor- This term is a place holder for whatever variable effects a targets ability to have an Edge. (The difference between concealing an object using KNO or concealing yourself using DEX, both are considered Edge factors for similar actions but use different Base stats.)

        Abilities- Abilities will always refer to racial abilities from either their Racial ability tree (these cost Experience and are powered by “Sp”) or their Natural Racial abilities.

        Skills- A Skill refers only to those which are obtained through the Class skill trees using experience.

        Traits- Traits are special contextual effects given by meeting prerequisites on a tool, weapon, or other item.

        Additional- Additional, or “Adds”, is a category of effects that last for a duration of more than a single turn or turn rotation. This includes but is not limited to burn, toxin, KO, Frozen, etc.

        Perk / Quirk- Perks and Quirks are personality and physical traits or abnormalities that define each character. Many of these effect game play in subtle ways while others are a constant factor. For this reason, P’s and Q’s have points associated with severity. Perks give you positive points and Quirks give you negatives. Each character starts at negative 1 and ideally should be a zero. If the created character starts with a -1, the player has the right to re-roll any one single Di, once per ‘in game’ day. If however your character is started with a +1, the GM has the right to ask you to re-roll any single Di, once per ‘in game’ day.

        Experience Grant Requirements- XPGR are tasks that your character would naturally perform which grant you experience. Each task has a set amount of Experience granted and you may obtain each one, once per day. (These “tasks” may relate to your race, class, perks, and quirks. Such as winning a bet, negotiating, dueling someone, getting thrown out of a bar, etc.)

        Sp- Sphereite (Shere-eye-t) is used to give value to your Racial Abilities, an Ability that you have obtained by experience will not function without Sp distributed into it. Points can be reassigned through various in-game means to the abilities you have gained through expenditure of Experience. Sp is gained automatically at a rate of 1, per 4 experience gained and can be deposited into the racial tree at any time.

        In combat- Your character is considered in combat while combat is going on within their Base perceptive range. This discounts using equipment that extends range. “In the same room” is usually a good rule of thumb since, even while not fighting directly, there is danger.

        Natural State- Your base stats are your natural state. Someone doing a normal action that isn’t attention catching who had a higher base DEC than your base PER will go unnoticed by you. Your Distance
        of perception is equal in range to your base value of PER.

        Alert- When your character is alerted by something that is not clear their Perceptive range becomes equal to a Partial PER roll.

        Focused- When your character is trying to spot something in the distance they can extend their perceptive range by adding an “Edge” to Partial PER range. (While doing this they are susceptible to
        surprise attacks from Range less than 5)

        Suspect- Your activities may become suspect if you act against social norms or if you do something which draws attention, everyone in the area will become ‘Alert’. Roll D6, if more suspect behavior
        happens within that number of turns, then characters within a Radius equal to the Sound value or within their own Perceptive range will investigate.

        Search- When searching for “Concealed Object” or “targets“ Roll Full PER Vs. their rolled Concealment and Check your KNO Vs. whatever the targets Edge factor might be.

        Tracking- Tracking value is found by combining the PER and KNO Base. Unless special parameters exist (Evidence, special context such as ability, trait, skill, etc.) this tracking value is the number
        of turns you can follow a target that is out of PER range without losing a sense of where they are.

        Memory- To remember something Roll Full KNO Vs. the difficulty. The difficulty is gauged by the Gm in three categories:
        Easy- Difficulty equal to 1D12
        Medium-  Difficulty equal to 2D12
        Difficult-  Difficulty equal to 3D12


        Identify- To identify something that would be questionable, in regard to the background of the character who is doing the ‘inspecting’, Roll Full KNO Vs the difficulty. The Difficulty is gauged by Gm
        or by the “Rarity” of the object. The categories are as follows:
        E- Difficulty equal to 1D12
        D- Difficulty equal to 2D12
        C- Difficulty equal to 3D12
        B- Difficulty equal to 4D12
        A- Difficulty equal to 5D12

        Inspect- Working the same as Identify but in relation to trying to sense the actuality of an object as far as its hidden features or authenticity. For this action PER becomes your Edge Factor.

        Sound Value- As long as current ‘Hearing’ PER value (True Base, Base, Alert, Focused, Special, etc.) overlaps the range of a sound, it will be heard. When checking to see how loud an action or event
        is, Check the contextual Sound Value or, if not applicable, the Gm Can choose from the Gauge below:
        Silent- Sound travel distance equal to 0.
        Quiet- Sound travel distance equal to 3.
        Normal- Sound travel distance equal to 6.
        Loud- Sound travel distance equal to 12.
        Deafening- Sound travel distance equal to 30.
        These Values represent clear sound and Gm may take liberty with results.

        Eating- Beings, for the most part, must eat once per day. If a full day and night pass without eating the character suffers a penalty of -1 to all base stats. After not eating a certain number of days,
        the character dies. This number varies with the characters race.

        Conceal object- Roll Full DEC With an Edge Factor of KNO, to conceal an object on your character, on a vehicle, or other object or environment. A bonus Edge D12 may be available contextually.

        Conceal self- Roll Full DEC With an Edge factor of DEX, to conceal yourself within the environment. A bonus Edge D12 may be available contextually. Lose all concealment during the turn rotation that
        you move.

        Move silently- Roll “Edge” for Base DEC to move without sound value. You cannot dash while moving silently but the Edge counts toward normal physical DEC against Natural state, “Alert,” and “Search”
        values.

        Health and Vitals- When your character takes damage, it reduces your HP until you have none, then it goes to Vitals (See Hit Calculator). Losing your HP can cause “injury”, losing vitals can cause
        “Critical condition”.

        Trained Equipment- A term applied to any equipment that might benefit from a particular core stat such as PER or LCK. When rolling for equipment use, add an Edge toward the total if a “Full” stat
        is required for some skill or bonus.

        Mastery Equipment- Mastery applies to a particular Stat similar to “Trained”, but with “Mastery” you also apply an Edge to the effect or damage of your first “Hit” or use from the associated item.
        (“Edge” additional D12 Di roll.)

        Equipment- Equipment comes in several types. The type will designate how it can be used and how many can be used of that type at once.
        How many items can be equipped in this way depends of racial features.
        A: Must be equipped in Hand appendage.
        B: Must be equipped on body.
        C: Must be close to user.
        D: Must be deployed on item phase.
        E: Remote Equipment.
        F: Equipment inside of your character or replaces a body part.

        Off Hand- When “only” using your non dominant hand, your equipment trait roll is -2 ‘Base stat’ and Hc -1 (Hc Roll -2 for melee). This does not effect two handed tools, items, and weapons.

        Dual Wield (Ranged)- Use two ranged items during one action phase, if your Base STR exceeds the combined Wt. Value of the items used on ranged weapon or tool, your “Hit Calculator” will be penalized
        -1 for both. (If “master”, act like “Trained” etc.) If the items combined Wt. Is higher than base STR suffer a penalty of -2 HC instead. With Melee act as the same, but the reduction is a -5 (or -10)
        to the HC roll.

        Carry Wt.- Your characters carry weight Is equal to their STR Base multiplied by 6. This is strictly for items in inventory, not for equipped clothing, armor, weapons, etc. These other things have Wt.
        that cannot exceed a Partial STR value on a one by one basis upon equipping them. If you fail the Partial STR roll but it was possible to succeed (With a Perfect 6 Roll), than equipping takes an
        extra turn.

        Burdened- If you are equipped with an object with Wt. That exceeds your Partial STR, even at a rolled 6, or are carrying more than your Max Wt. In inventory you become Burdened. This means you Cannot
        jump, you movement is reduced by half and you cannot gain an “Edge”.

        Size Difference- When a Target is at least two SC smaller than the opponent they receive an edge to “Dodge” value. However when a target is a at least two SC larger, the attacker gains a +1 Hit Calculation.

        Throw- The range of a thrown object depends on your STR and the objects Wt. The damage the object deals on impact is equal to the objects potential travel distance plus it’s weight value. If the
        objects Wt. is below your Base STR, Throwing Range is a Partial STR Roll. If the Objects Wt. is over your Base STR but lower than double it’s value, throwing range is equal to Base STR. (Example:
        With STR of 5, throwing an object with 7 Wt. would travel 5 Range and deal a maximum of 12 damage.)
        When throwing a Melee weapon or thrown weapon see Mechanics of play: Dealing Damage section below under “Thrown Weapons”.
        When trying to throw objects with Wt. value above double your base STR
        see Mechanics of play: “Grappling and moving” section below under “Grapple carry” and “Grapple throw.”

        Reload- to recover “Ammo value” on a weapon or some tools after use, spend an action phase to reload to full value. Ammo must be restocked for each weapon that uses ammo once per “in game” day
        for the item to be used.

        * * *

        #### <a class="anchor" name="social"></a> Social Interactions

        * * *

        Lie- Roll Full DEC Vs. Full KNO, Edge D12 goes to a Check between Raw CHA of the Liar Vs. the PER or the target(s).

        Persuade- Roll Full CHA Vs. Full WIL to push a target to act without reserve or on a whim spontaneously but not against their choice, moral code, etc. If they would consider it, but usually not
        do it, now they will do it.

        Intimidate- Roll Full STR Vs Full Full WIL To force a target out of combat, to keep them from entering combat, or simply to leave the immediate area.

        Flair- Roll Full DEX (While holding a weapon or tool) Vs. Full WIL to force a target to “Choke”, dealing a D20 Reduction to their next roll of any kind. Flair takes the item phase of your turn
        and cannot be used more than once on the same target unless stated otherwise.

        Provoke- Roll Full CHA Vs Full CHA with an Edge D12 going to the one with higher base KNO. Upon success, Incite target into initiating combat.

        Calm- Roll Full CHA Vs. Full STR to cause a target to hesitate and not initiate combat on their turn.

        Threaten- (Although a social interaction, this uses up the item phase and cannot be done out of phase unless specifically allowed.) Roll to find total damage applicable toward a target using a
        visible weapon or ‘other’, then compare this value Vs targets Partial WIL (Add their remaining HP to their total resistance.) to force them to take any action that (to their knowledge) would not
        result in their own death. This action is considered combat initiation.

        * * *

        #### <a class="anchor" name="special-actions"></a> Special Actions and Class oriented Actions

        * * *

        Tame- Roll Partial CHA Vs. creatures Aggression value. This number can stack for a number of turns. If the creature sustains damage or any attack, the “Tame” value is reset. Upon overcoming the
        Aggression value, the creature becomes tamed for the day that it was successfully tamed. If the creature leaves the users company for over a day, “Tame” value is depleted and it becomes wild again.

        Forge Documentation- Create a false document or identification. Requires the materials to recreate and a number of turns equal to D20 minus your Base SPD to craft. Its Authenticity is equal to your
        Full DEC with an Edge Factor of KNO.

        Bypass Lock- Locks, both mechanical and technical, can be disarmed using a tool that is particular to the kind of lock and a partial TEC roll.

        Steal- At Range less than 2 Roll Full DEC Vs. Full PER (“Edge” goes to the higher between users Base DEX Vs. Targets KNO.) This mechanic applies to both as a pickpocket and stealing in other ‘visible’
        contexts.

        Quality Food and Drink- When you eat and drink certain things, you may gain a particular effect. The duration of effect from food lasts the rest of the ‘Day’ whereas the duration of a drink is equal,
        in turns, to it’s potency Vs. your Partial WIL. (After calculation, remaining potency value becomes turns of effect.) The effects from food and drink can be positive, negative, or often both.

        A character may retain only the effect of their last meal and there is a period of about half a day before they can eat again.

        Drink effects can stack but only upto 3 “Different” effects can be ongoing at once from drinks. If you take on an effect with a higher value than another, discard the lower valued effect and retain
        the higher one. (Example: If your current Drink has an effect, “Regenerate 3Hp per turn” and you have 3 other Drink related effects, say Regenerate Finesse 4, reduce Finesse damage 5, and a WIL
        reduction of 2. The New drinks value of 3 is higher than the WIL reduction of 2, so it replaces it.)

        Taste and Odor- When eating or smelling there may be a value on the taste or smell. As long as Your Partial PER falls within or above the value, your character will sense the odor or taste. (When
        faced with a single taste or smell, you will automatically sense it, within Base PER range.) When faced with a more complex taste or smell (one with more than one ‘value’) the odor OR taste will
        stack their values in order from highest to lowest. This means that The higher value taste, for example, will be automatically tasted while the smallest value must be reached with your Partial PER.
        Example: If a food has “Smokey” value of 5, “Salty” value of 3 and “Sour” value of 1, it would be arranged in order as 5, 3, 1. And If my Total Partial PER was a 7, I would taste “Smokey” and “Salty”
        (Total value 7) but not taste “Sour”.

        Flavor- When cooking for an audience, It is important to hide the less appropriate tastes and smells behind higher values. Bad tastes or simply tastes that are not enjoyed by the recipient will give
        a reduced added effect. Meaning that not only will the being not enjoy the meal but they will receive only half the benefits, reductions, and other attributes. You may also want to take this in
        consideration when trying to poison someone or avoid getting poisoned yourself. Don’t let, “What a strong flavor!”, be your last words. (See “Taste Profiles”)

        Acting- When deceiving a target you may produce evidence that corroborates your story, on this occasion gain an Edge to deceive this target.

        Dancing- When you begin to Dance, find the total between your Base DEX and CHA. This is your Dance skill value, if this value is lower than 10 than your style is ‘Clumsy’ and you suffer a total Dance
        skill value reduction of D20. If your Dance skill falls below 0, you collapse and suffer 2 Vital damage at ‘Skilled Hc’. If your Dance Skill is over 15, you are a Skilled Dancer and you gain an Edge
        to your total Dance skill value. When dancing, you catch the attention of spectators. If your Dance skill is higher than the Base dance skill of those watching, you gain a CHA Edge towards those
        individuals for the rest of the day. (In game)

        Paired Dance- When dancing with a target, compare Dance skill values. If your values are within 3 points of each other you may count your values together against the spectator values. If you have
        equal values, or the total is above 25 you gain an Edge to the Combined total. If the difference in skill values is over 5, the less skilled target becomes injured as with ‘Clumsy’ effect of Dancing
        but the damage is D6.

        Singing- When you begin to Sing, find the total between your Base WIL and CHA. This is your Singing skill value, if this value is lower than 10 than your style is ‘Off Key’ and you suffer a total
        Singing skill value reduction of D20. If your Singing skill falls below 0, you suffer a reduction equal to -5 Base CHA with all spectators. If your Singing Skill is over 15, you are a Skilled Singer
        and you gain an Edge to your total Singing skill value. When Singing, you catch the attention of spectators. If your Singing skill is higher than the Base Singing skill of those watching, you gain a
        CHA Edge towards those individuals for the rest of the day. (In game)

        Duet- When Singing with a target, compare Singing skill values. If your values are within 3 points of each other you may count your values together against the spectator values. If you have equal
        values, or the total is above 25 you gain an Edge to the Combined total. If the difference in skill values is over 5, the less skilled target is afflicted with the Quirk “Anxiety” for D20 Turns.

        Play Instrument- When you begin to Play an instrument, find the total between your Base TEC and CHA. This is your Instrumental skill value, if this value is lower than 10 than your style is ‘Amatuer’
        and you suffer a total Instrumental skill value reduction of D20. If your Instrumental skill falls below 0 you suffer a reduction equal to -5 Base CHA with all spectators , If your Dance Skill is
        over 15, you are a Skilled Player and you gain an Edge to your total Instrumental skill value. When playing, you catch the attention of spectators. If your Instrumental skill is higher than the Base
        Instrumental skill of those watching, you gain a CHA Edge towards those individuals for the rest of the day. (In game)

        Banding- When Playing an instrument with another performer (Singer, Dancer, Instrument Player), compare Performance skill values. If your values are within 3 points of each other you may count your
        values together against the spectator values. If you have equal values, or the total is above 35 you gain skill value equal to D20 for the Combined total. If the difference in skill values is over 5,
        the entire group of characters are afflicted with the Quirk “Anxiety” for D20 Turns.

        Class Expertise- When Cooking, Repairing, Crafting, Doing Surgery, etc. a character without the related Class will use a Partial KNO roll to find their skill value. However a classed professional uses
        a Full KNO roll. Equipment can increase the minimum roll of either practitioner. (Ex: A human Soldier trying to Cook has a range of skill valued at 6-12 with 5 KNO plus a D6, while a human Apothicist
        has a range of skill valued at 5-30 from rolling 5D6. A human Soldier with some equipment might have a Skill range of 11-12 but the same equipment on an Apothicist would be 11-30.) Another benefit of
        Class Expertise is that, although two non-proficient characters can try to combine skill value to accomplish a task, up to 5 Classed (the same, job specific, class) characters can work together on a
        single project.

        Expertise Station-  Usually stationary or apart of a permanent structure or ship, the Station is an automated service which can perform Class oriented repairs and crafting for you. The Skill value of
        a Station is rated the same as the actual difficulty of the various Expertise. (See Below)

        Expertise Difficulty- As far as the difficulty of Classed trades. These can be done by anyone using the above calculations. Categorized by Letter and difficulty that are applicable to any trade or
        undertaking as follows:

        E- Difficulty equal to 1D12
        D- Difficulty equal to 2D12
        C- Difficulty equal to 3D12
        B- Difficulty equal to 4D12
        A- Difficulty equal to 5D12
        S- Difficulty equal to 6D12

        * * *

        #### <a class="anchor" name="dealing-damage"></a>Dealing Damage

        * * *

        Thrown Weapons- when throwing a melee weapon deal damage equal to potential travel distance plus the attack value it has for one “Hit.” (hits after this do not have the travel distance damage added.)

        Solid Weapons (Ranged)- May be used at “Far Shot” HC and “Long shot” HC. If damage is dealt by a solid weapon to Vitals, cause “Bleed.”

        Solid Weapons (Melee)-  Add Base STR to damage of solid weapon melee attacks. If damage is dealt by a solid weapon to Vitals, cause “Bleed.” “Sever” Value equal to users True Base STR.

        Energy Weapons (Ranged)- Range is fixed. If damage is dealt by an energy weapon to Vitals, cause “Distress”15.

        Energy Weapons (Melee)- Damage is fixed, base sever value is equal to damage. If damage is dealt by an energy weapon to Vitals, cause “Distress”15.

        Unarmed Melee- Deal Damage equal to Partial STR roll at Character range 0.

        Improvised Melee- When attacking with a non weapon type object deal damage equal to Partial STR. (Plus Wt. of an equipped object)

        Aimed Shot- You may sacrifice a turn (No movement, item, or action phase) to go up one category in the Hit calculator, this effect does not stack.

        Point Blank- Using a Ranged weapon or tool at Range of 0, Hc starts at “Sure Shot”.

        Staggering Strike- Dealing damage to a target enough to reduce all their Hp, from full, in one attack causes “Stagger”.

        Critical Strike- Dealing damage to a target enough to put them in Critical Condition during one Turn Rotation causes Knock out for a duration of 1D20 Turns.

        Exhausting Strike- Reducing all of a targets Finesse (from full) in one turn causes knock out effect for a duration equal to their maximum Finesse value.

        Fatal Strike- Dealing damage to a target enough to put them in Critical Condition in a single characters turn causes immediate Death.

        Finishing Strike- Expend 2 Finesse When a character is in “Down” status at zero Range, initiate a finishing strike to bring them to a fatal end. (where possible)
        Surprise- If attack is not suspect cause “stagger” and D20 “Distress”.

        Wide Swing- Expend 2 Finesse Using a melee weapon, turn your Range into a Radius for a normal attack.

        Stagger- When afflicted with stagger you cannot use Finesse until recovering from the effect which uses up your movement phase, remaining immobile until a new move phase.

        Sever- A status where a targets vital is entirely removed including the parts connected to it and not the main body. (Severed arm takes the hand as well, etc.) This is represented by a Sever value xD6
        Vs Difficulty, where difficulty is equal to the vitals maximum value.

        Bleed- A status where a target is dealt 1 damage each turn directly to an effected vital until it reaches zero.

        Crush- A status where a vital is rendered useless. Even if at full value act as though it were a zero. This can lead to critical condition.

        Blast- Damage dealt as “Blast” effects each vital with it’s value only after Hp and Armor are gone unless otherwise stated. (“Blast”2 would damage each vital of a target by 2.) If Blast hits armor it
        deals damage to each part as if vitals, but Hp will soak up this damage at it’s value. Blast 1 will only do 1 Damage to Hp.

        Dazed- Suffer Hc Roll -5 and lose all “Edge” values.

        Distressed- When afflicted with this status you must roll Full WIL against “Distress” value to resist losing your turn for this rotation.

        Knock Back- (Kb) An effect where the afflicted target is forced to move away quickly as if thrown. When a target is thrown into a structure or object they take “Blast” damage equal to left over Knock
        Back that was halted by said object or structure. The object or structure that was collided with takes equal damage, and Knock back equal to half of that value. Knock back effect and value is expressed
        upon contact. (A gun that deals 5 Kb and has 7 range will travel upto 7 range, then, on impact, cause the 5 Kb.)

        Shove- Expend 1 Finesse At Range 0, Deal Knock Back equal to Base STR. If done as surprise, from concealment, or with higher Base STR than the targets base DEX then this action causes “Stagger” as well
        as the Knock Back.

        Force- An effect where the afflicted target is forced to move away quickly as if thrown. All objects within range of “Force” move to the farthest point of it’s range and then come to a stop. (A weapon
        that causes “Force” 7, pushes everything within that range to the 7th range.) The objects closest to the “Force” collide with what is later in the effective range causing “collision”.

        Toxin- Toxic value is determined by the item, material, or ability being used. To resist a toxic value roll Full WIL Vs Toxic value. Success resists effects, while failure results in being subject to
        the toxins effects until skill, ability, or medical attention is applied.

        * * *

        #### <a class="anchor" name="taking-damage"></a> Taking Damage

        * * *

        Injured- When your character has no HP and relies only on Vitals they are “Injured”. This means they no longer regenerate HP each turn.

        Critical condition- When your head, chest, or any 2 other vitals are reduced to zero points you must roll Full WIL Vs number of total missing Vital points each time you use movement or an action until
        HP is recovered. If you fail the WIL roll, then enter “Down” status.

        Down- after failing a Critical condition WIL roll, you become unconscious. You will remain Stable for turns equal to Base STR. If the head or chest are zero after the “Stable” phase, the injuries are
        fatal.

        Knock out- Partial STR (Plus Wt. of an equipped object) Vs Partial WIL (Plus half value of durability on whatever head armor, Round down.) at Range 0. If done from concealment add an Edge to action
        value Vs opponent. Duration of knock out, on success, is equal to the difference plus D20.
        Knock out can also be achieved by Dealing a finesse reduction to a target with no finesse value with the duration equal to the “overkill” value of the finesse reduction plus a D20. Example: Dealing
        8 Finesse reduction to one who has only 5 Finesse will bring them to zero but not incapacitate them. If they are again hit with the -8 reduction, they will be knocked out for 8 plus D20 Turns.

        * * *

        #### <a class="anchor" name="surviving"></a> Surviving

        * * *

        Natural Regeneration- Naturally your character recovers from minor damage over time. As long as you have HP, you will recover HP equal to your Base STR each turn.

        Items- Consumable and non consumable items can help to remove dangerous effects and recover Hp, vitals, and Finesse.

        Food- Food can have immediate as well as ‘Day long’ Effects.

        Lixor- Lixor have various effects, but one can only use a few each day without conciquence. If you use a number of lixor over your base WIL, you will vomit, losing all bonus from lixor, food, and
        any edible items used in that day. After vomiting you cannot use another Lixor for D20 Turns.

        Recover, Revive, Return- If injured, a character must gain Hp to recover. If in Critical condition or Down, they must be revived. If the character dies, they must return using ability, item, or
        other game mechanic.

        Plate Armor- (Shell) Plate type armor has a set value that blocks all incoming damage that is not higher than said value.

        Mesh Armor- (Shell) Mesh type armor reduces ‘physical’ damage by a consistent amount per hit.

        Barrier- (Field) A barrier, completely protects from a single type of damage, disability, or reduction.

        Shields- (Field) Shields act as another Hp coating but cannot defend against anything at Range of 0.

        Clove- (Clothing) A loose scarf like item that reduces attackers Hc.

        Melee Defense: (See Hit Calculator)

        Guard- Expend 2 Finesse. Use Base STR to reduce damage total. Leftover goes to vital. (Or the durability of “Blocking” part or object.)

        Dodge- Expend 2 Finesse. Full DEX Vs Full SPD to reduce HC Roll by 3.

        Parry- Expend 3 Finesse. Full DEX Vs Total Damage, leftover damage goes to defending weapon. Successfully reducing all the damage means disarming the attacker.

        Disarm- Expend 3 Finesse. (See under Grapple-Disarm) In combat at less than 2 Range, an “Edge D12” goes to the one with higher STR value or who initiated grapple.

        Ranged Defense: (See Hit Calculator)

        Dumb Luck- In the event of a surprise attack or consealed attack. if your Partial LCK is higher than the attackers Partial LCK, reduce the attackers HC by 2 or melee HC roll by 3. This effect does
        not apply to a suspected attack (Rolling an “Alert” PER disables this mechanic.)

        Evasion- Expend 2 Finesse. At Range over 10 Roll Full DEX Vs Full SPD, on success attackers HC is reduced by -2.

        Reflex- Expend 2 Finesse. At Range less than 2, Roll Full SPD Vs. Full STR of attacker. Success means a “shove.”

        Dive- Expend 3 Finesse. Suffer “Stagger” (Override status) for attackers at range farther than 5, reduce HC by 3 for this Turn rotation. This action can also be used as an instant reaction to any
        ranged attacks to or by a target within Base PER.

        Cover- When behind cover, find what vitals are covered and apply to hit calculator. (If right leg is covered, the cover is hit instead, etc.)

        Guard- Expend 2 Finesse. Use Base STR to reduce damage total. Leftover goes to vital. (Or the durability of “Blocking” part or object.)

        Thrown Defense:

        Catch- Expend 2 Finesse. Roll Partial STR Vs thrown objects Distance traveled. On success, equip object.

        Block- Expend 2 Finesse. Remove damage modification from distance thrown then use Base STR to reduce remaining damage total. Leftover goes to vital. (Or the durability of “Blocking” part or object.)

        Dodge- Expend 2 Finesse. Full DEX Vs Full SPD to reduce HC by -1.

        Explosive Defense:

        Batter- Expend 1 Finesse. If charge or other explosive is being thrown into you (after a successful HC) Roll Partial STR Vs Partial LCK to Send the object back at Range equal to Base STR. (Modify
        range by melee weapon damage where applicable.)

        Blast Dive- Expend 2 Finesse. If charge or other explosive is being thrown near you within your PER and notice, roll Partial DEX Vs Base LCK to move away from object at a value equal to Base DEX
        before detonation.

        * * *

        #### <a class="anchor" name="grappling-moving"></a>Grappling and Moving

        * * *

        Grapple:

        Grab- Expend 1 Finesse. If in Zero Range at the end of movement phase, Roll Full STR Value to find Hold Strength. This gives an Edge to melee damage, throws, and some finesse moves.

        Break Away- Expend 1 Finesse. While in Grapple or as a reaction to a grapple, Roll Full DEX Vs. “Hold Strength”.

        Disarm- Expend 1 Finesse. At Range less than 2, Roll Full DEX Vs Full STR. Gain an Edge D12 if done from concealment.

        Grapple Throw- Expend 2 Finesse. While in Grapple or as a reaction to a grapple (As long as your Maximum success with Grapple carry is above the objects Wt.) Roll Full DEX Vs Full STR. An Edge
        goes to the one with a Larger SC. Upon success, throw range is equal to base STR. Damage dealt is Same as “Vehicular collision” but with damage divided between the thrown object and any object
        struck with thrown object.

        Grapple Carry- Expend 5 Finesse. Users Carry Wt. Capacity x D10 Vs. targets Wt. This adds 1D6 to “Grapple” throw range.

        Choke out- Expend 1 Finesse. While in Grapple, Begin choke. Targets “Final breath” is equal to their Base STR, If target cannot break away within turns equal to this value, they pass out. (If
        done as a surprise or from concealment, “Final” breath value is only half Base STR.)

        Movement:

        Swim- Expend 2 Finesse. Roll Partial STR value to find movement range before needing a “breath”. Taking a breath uses your movement phase (become immobile for this turn) and you must re-roll
        to find your new swim value until needing to breathe again (expending Fin. For each breath). If you run out of Finesse, you begin “Final breath” equal to your base STR. This will determine the
        number of turns you will be immobile until finesse is restored or you begin drowning.

        Drowning: At this point you become unconscious and roll Partial WIL. This value will be the time you have to be rescued or suffer a fatality.

        Climb- Expend 2 Finesse. Climbing works the same as Swimming. If you run out of finesse, you lose hold and fall. Damage dealt equal to distance of fall Range plus an edge of D12.

        Smash- When colliding with, stomping on, or landing on an object Roll STR Partial value plus a bonus based on SC: T -2, Sm -1, M –, L +1, XL +2. Deal additional damage equal to distance
        traveled before contact.

        Fall- Falling a distance higher than double your Base STR value will deal damage to you equal to the range fallen. This can be reduced by a Partial DEX Roll value.

        Trip- When a target passes within 1 Range of you on their movement phase, you can roll Partial SPD Vs their Partial SPD to cause “Stagger.”

        Jump- Expend 1 Finesse. (If moving) Base SPD decides your maximum jump distance. From a stand still, use Base STR. The height is determined by your “Jmp.” Statistic.

        Dash- Expend 2 Finesse. Movement for this phase is doubled but can only be made in a straight line. Gain a Collision Edge.

        Ability, Skill, and Trait Glossary:

        Daily: Actions with this trait can be used once per day.
        Expendable: Actions with this trait can be used once per instance of combat.
        Exertion: Actions with this trait have a cool-down equal to its Sp value.
        Technical: Actions with this trait can be used once each turn.

        * * *

        ####  <a class="anchor" name="vehicular"></a>Vehicular use

        * * *

        Operate Vehicle- Using a vehicle requires a KNO Partial or TEC Partial Vs. Requirement on target vehicle.

        Dive out- Expend 5 Finesse. Roll Partial DEX Vs Vehicles current Movement Value. Either escape successfully or suffer the difference in damage.

        Maneuvering- Vs. Ranged attack, Combine your Base DEX with the Maneuvering of the vehicle (This may add or subtract from your base.) Roll this value xD6 Vs The attackers “Full SPD.” Roll Vehicle
        Hit Calculator after Maneuvering failure.

        Shake Off- Vs. Melee or Grapple, Combine your Base DEX with the Maneuvering of the vehicle (This may add or subtract from your base.) Roll this value xD6 Vs The attackers “Full STR.” If “Shake Off”
        succeeds, the attacker looses grip and falls from the vehicle if possible and becomes “staggered.”

        Collision- Damage and Knock Back are equal to distance traveled before collision in same move phase multiplied by the listed modifiers. (Modifier damage dealt to all parties in collision.)

        Small- 2 Damage +1 Knock Back.
        Medium- 4 Damage +2 Knock Back.
        Large- 6 Damage +3 Knock Back.
        Massive- 8 Damage +4 Knock Back.

        * * *

        #### <a class="anchor" name="breaking-the-law"></a>Breaking the Law

        * * *

        Law enforcement- Laws differ by region of space and sometimes by planet. In many cases the work is done by the race, group, or entity that controls that particular sector. Often however the job is
        given to a private security company called Enforcers.

        Enforcers- Enforcers are a group started by the humans and mostly utilize humans for the various positions within the company. As time passes, however, they are showing a great deal of appreciation
        towards the various other races who are willing to join. Included are many Kai and Posh.

        Punishment Business model- As a private company the Enforcers are hired by whatever regional leaders that wish to do so and can afford it. The Laws, as decided by the ‘Customer’ are then given to
        the Enforcer Main office for processing. If the Laws are found reasonable and do not have a chance of causing muli-territory conflict or dragging the Enforcers into political strife, they move on
        to the next phase. There is an annual Fee that goes directly to the Main branch and there are costs to all those breaking the Laws. The financial part of the punishment is divided among the local
        administration and the units involved in the Enforcement for each instance.

        Enforcers and Enforcement- In cases of ongoing criminal activity that has failed to desist, the criminal will be either captured or destroyed depending on difficulty and safety. In the case of
        desisted criminal activity, captured criminals, and past crimes a Jury is selected from a large pool of random citizens with communicator devices who pass a simple test. The jury decides what
        degree of punishment is permissible without knowing the age, gender, aesthetics, or background.

        Common Law- There are 3 Kinds of non lethal punishment known to the public and one that is not. Punishment categories are; Financial Cost to the criminal, rented Time in incarceration, and
        relocation with Isolation. Costs for each procedure is covered by the criminals assets, family, or anonymous citizen donations. If coverage is not available for one punishment, the next one
        is processed until a verdict is reached. If no coverage is raised by any means, the crime penalty is waived but records are kept. The coverage, in Levla currency, for incarcerated rent and
        the one time cost of displacement from society is noted in parenthesis. Some common law infringements and their punishments are as follows:

        Threat of Violence- any representation of physical harm or trespassing
        Cost- 2,500 Time- One week (1,000) Iso- Out of City for 6 Months (500)

        Violence- any physical harm
        Cost- 5,000 Time- One month (3,000) Iso- Out of City for 1 Year (1,000)

        Lethal Violence- any physical harm with representation of lethal intent or action
        Cost- 25,000 Time- One Year (15,000) Iso- Out of City for 10 Years (6,000)

        Murder- any physical harm resulting in the death of a sentient being
        Cost- 500,000 Time- twenty years (300,000)
        Iso- Out of city for remainder of life. (24,000)

        Destruction of Property or theft-
        Cost- Varies, rated at 1.5x the value of damaged property.
        (Or) work equal to value lost at a rate of 100 Levla per day.

        Ownership of illegal goods *Valued per Item or Wt. measurement*
        Cost- 2,500 Time- One week (1,000) Iso- Out of City for 6 Months (500)

        Enforcer Ranks – Enforcer have different Ranks and jobs within said ranks. Job and Ranking is as follows:

        Enforcer- Enforcers are the most common unit, a Civil servant who reports to the scene of any unrest where they must manage the situation at hand or call for support that best fits the job.

        Peace Maker- A specialist troop that can be deployed quickly in numbers to subdue groups, riots, or organized criminal elements.

        Investigator- Investigators recover evidence, information, and witness/victim testimony in order to personally transmit Jury member messages and administrate a test to weed out any chance of unfair outcomes. At times an Investigator may work with an Administrator of Justice in order to aid in justice or retrieving penalty coverage.

        Warrant- A hiring consultant who is tasked with interviewing, registering, and employing  “Shacklers”. After all documenting and certification, the information is sent to the main branch for records
        and a Stalker License is provided. As a Handler, the Warrant is responsible for taking down any rogue elements under their charge if a Shackler brings the Enforcers a bad name or does something
        against “House rules”.

        Administrator of Justice- These units are called Verdict for short. They carry out the Judgment as set forth by the choice of Jury members. They also collect penalty costs from the occasional tight
        fisted offender or elect detectives to find out if other “coverage” options should be looked into. The ‘Verdict’ unit is capable of both arresting and executing without a Jury if elected to do so by
        the Main Branch.

        4th Echelon- 4th Echelon is a Secret branch of the Enforcers that deal with things that cannot be so easily taken care of by the other units. Every member of this Elite team is a Dreamer, Reaper,
        Nightmare Lord, or other Special classed unit. They form a defensive wall to creatures from Neverwake, the Depth, and other irregular places.

        Shacklers- Shacklers are skilled citizens who have training or experience that can be utilized by Enforcer Main Branch. Similar to a bounty hunter but legally registered and given a “Stalker License”
        as a form of ID, Certification Proof, and a means of gaining payment on completion of capture, execution, or other jobs. Stalker License can have certain Allowances on them which gives permission
        for them to carry certain weapons and items normally disallowed by “House Rules” but only a “Verdict” or House Member of the Consulate Presidium can give these allowances. Shacklers are some times
        sent outside the borders of Enforcer sectors to hunt down special targets or carry out missions that the Enforcers do not want direct affiliation with.

        Universal Enforcer Consulate Presidium- This is the title of the ‘Main Branch’ of enforcers and the housing for the company leadership. It is located on Denku, the Capitol world for Humans. All
        humans are under law of the Enforcers and to them, the couple who own the company are like a King and Queen of all humans throughout the universe.

        Casper- This is the unknown 4th Punishment for serious repeat offenders. This is a secret labor camp that only the Consulate Presidium house members know of. Details are sketchy but it is rumored
        that the prison itself is not even in this dimension.

        TRUST- TRUST Does not exist in any records. Casper has the Word scratched into the walls, along with random passages such as; Remember the Future, Do not listen to the Stranger,
        Obey Goodwitch,Ashblood Administrator, Forget Earth, and words that may define the acronym TRUST.

        Testimony\
        Recovery\
        ULTRA\
        Security\
        Truth







      </markdown>
    </div>
