#quicklinks a {
  color: white;
  text-decoration: underline;
}

#go-to-top {
  /* Hidden by default */
 position: fixed; /* Fixed/sticky position */
 bottom: 20px; /* Place the button at the bottom of the page */
 right: 30px; /* Place the button 30px from the right */
 z-index: 99; /* Make sure it does not overlap */
 background-color: #0000003b;
 border: none; /* Remove borders */
 outline: none; /* Remove outline */
 padding: 15px; /* Some padding */
 border-radius: 10px; /* Rounded corners */
 font-size: 18px; /* Increase font size */
 background: url('../../assets/to-top-page.png');
 background-position:center;
 background-repeat:no-repeat;
 height: 45px;
 width: 45px;
}

#quicklinks ul li a {
  margin: 10 0 10 0px;
}


h4 {
  color: white;
}

markdown {
  color: white;
}

a {
  margin: 10 0 10 0px;
}

a.anchor  {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}
